<!DOCTYPE html>
<html>
    <head>
        <!--Required Meta Tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        
        <!--Javascripts: Jquery & BootstrapJS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>GoogleMaps CO</title>
        
        <style>
            html{height: 100%;}
            body{
                height: 100%;
                margin: 0%;
                padding: 0%;
                background-color: #0086b3 }

            .vertical-separator{
                width: 1px;
                background-color: hsl(184, 100%, 60%);
                height: inherit;
                margin-left: 0.5px;
                margin-right: 0.5px;
            }
        </style>

        <script>
            window.onload = function() {
					if (localStorage) {
						document.getElementById('submitButton').addEventListener('click', function() {
							var mathQuestion = document.getElementById('math').line.value;
							var numQues = 0;
							if(mathQuestion != ""){
								numQues +=1;
							}
							localStorage.setItem('ques1', mathQuestion);
							localStorage.setItem('quanCount', numQues);
						});
					}
				}
        </script>
    
    </head>
    
    <body>
        <div><h2 class="text-center text-light font-weight-light mt-2">Build Your Own Pizza</h2></div>
        <div class="container mt-5 p-2 w-90 h-80 bg-light ">
            <nav class="navbar navbar-light my-2 p-2 rounded d-flex justify-content-center w-100" style="background-color:rgb(124, 159, 223)">
                <div class="nav nav-pills" id="nav-tab" role="tablist" style="font-weight: 600; color:mintcream">
                    <a class="nav-item nav-link active text-white bg-danger" id="nav-demo-tab" data-toggle="tab" href="#nav-demo" role="tab" aria-controls="nav-demo" aria-selected="true">SIZE & CRUST</a>
                    <a class="nav-item nav-link text-white bg-info" id="nav-vitals-tab" data-toggle="tab" href="#nav-vitals" role="tab" aria-controls="nav-vitals" aria-selected="false">CHEESE & SAUCE</a>
                    <a class="nav-item nav-link text-white bg-info" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false">TOPPINGS</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <!--Size & Crust Tab-->
                <div class="tab-pane fade show active" id="nav-demo" role="tabpanel" aria-labelledby="nav-demo-tab">
                    <div class="container">
                        <div class="row mt-1 p-1">
                            <div class="card card-body border-0"> 
                                <h3 class="font-weight-light text-info">CHOOSE SIZE & CRUST</h3>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <h5 class="text-info font-weight-light">HAND TOSSED</h5>
                                        <p class="float-left">Garlic-seasoned crust with a rich buttery taste.</p><br>
                                        <div class="hand-tossed mt-5 p-1">
                                            <input  type="radio" value="small" name="handtossed" id="handtossed">Small(10")<br>
                                            <input  type="radio" value="medium" name="handtossed" id="handtossed">Medium(12")<br>
                                            <input  type="radio" value="large" name="handtossed" id="handtossed">Large(14")<br>
                                            <input  type="radio" value="xlarge" name="handtossed" id="handtossed">X-Large(16")<br>
                                        </div>

                                    </div>
                                    <div class="vertical-separator"><br/></div>
                                    <div class="col-md-3">
                                        <h5 class="text-info font-weight-light">HANDMADE PAN</h5>
                                        <p class="float-left">Two layers of cheese, toppings to the edge and a crust that bakes up golden and crispy with a buttery taste.</p>
                                        <div class="hand-made mt-5 p-1">
                                            <input  type="radio" value="medium" name="handmade" id="handmade">Medium(12")<br>
                                        </div>
                                    </div>
                                    <div class="vertical-separator"><br/></div>
                                    <div class="col-md-3">
                                        <h5 class="text-info font-weight-light">CRUNCHY THIN CRUST</h5>
                                        <p class="float-left">Thin enough for the optimum crispy to crunchy ratio.</p>
                                        <div class="crunchy-tc mt-5 p-1">
                                            <input  type="radio" value="medium" name="crunchy" id="crunchy">Medium(12")<br>
                                            <input  type="radio" value="large" name="crunchy" id="crunchy">Large(14")<br>
                                        </div>
                                    </div>
                                    <div class="vertical-separator"><br/></div>
                                    <br/>
                                    <br/>
                                    <div class="col-md-3">
                                        <h5 class="text-info font-weight-light">BROOKLYN STYLE</h5>
                                        <p class="float-left">Hand stretched to be big, thin, and perfectly foldable.</p>
                                        <div class="brooklyn mt-5 p-1">
                                            <input  type="radio" value="large" name="brooklyn-style" id="brooklyn-style">Large(14")<br>
                                            <input  type="radio" value="xlarge" name="brooklyn-style" id="brooklyn-style">X-Large(16")<br>
                                        </div>
                                    </div>
                                    <div class="vertical-separator"></div>
                                    <div class="col-md-3">
                                        <h5 class="text-info font-weight-light">GLUTEN FREE CRUST</h5>
                                        <p class="float-left">Domino's pizza made with a gluten free crust.</p>
                                        <div class="gluten-free mt-5 p-1">
                                            <input  type="radio" value="small" name="gluten-free" id="glutenfree">Small(10")<br>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Choose Cheese & Sauce Tab-->
                <div class="tab-pane fade" id="nav-vitals" role="tabpanel" aria-labelledby="nav-vitals-tab">
                        <div class="container">
                            <div class="row mt-1 p-2">
                                <div class="card card-body border-0"> 
                                    <h3 class="font-weight-light text-info">CHOOSE CHEESE & SAUCE</h3>
                                    <div class="row mt-3">
                                        <div class="col-md-5">
                                            <h5 class="text-info font-weight-light">CHEESE ?</h5>
                                            <div class="cheese mt-5 p-1">
                                                    <input  type="radio" value="cheese" name="cheese" id="cheese">Cheese<br>
                                            </div>
                                        </div>
                                        <div class="vertical-separator"><br/></div>
                                        <div class="col-md-5">
                                            <h5 class="text-info font-weight-light">CHOOSE A SAUCE</h5>
                                            <div class="sauce mt-5 p-1">
                                                    <input  type="radio" value="Hearty Marinara Sauce" name="sauce" id="sauce">Hearty Marinara Sauce<br>
                                                    <input  type="radio" value="BBQ Sauce" name="sauce" id="sauce">BBQ Sauce<br>
                                                    <input  type="radio" value="Alfredo Sauce" name="sauce" id="sauce">Alfredo Sauce<br>
                                                    <input  type="radio" value="Garlic Pamesan White Sauce" name="sauce" id="sauce">Garlic Pamesan White Sauce<br>
                                                    <input  type="radio" value="Robust Inspired Tomato Sauce" name="sauce" id="sauce">Robust Inspired Tomato Sauce<br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <!--Choose Toppings Tab-->
                <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">
                    <div class="container">
                        <div class="row mt-1 p-2">
                            <div class="card card-body border-0"> 
                                <h3 class="font-weight-light text-info">CHOOSE TOPPINGS</h3>
                                <div class="row mt-3">
                                    <div class="col-md-5">
                                        <h5 class="text-info font-weight-light">CHOOSE MEATS ?</h5>
                                        <div class="choose-meats mt-5 p-1">
                                            <input  type="radio" value="Pepperoni" name="meats" id="meats">Pepperoni<br>
                                            <input  type="radio" value="Italian Sausage" name="meats" id="meats">Italian Sausage<br>
                                            <input  type="radio" value="Beef" name="meats" id="meats">Beef<br>
                                            <input  type="radio" value="Ham" name="meats" id="meats">Ham<br>
                                            <input  type="radio" value="Philly Steak" name="meats" id="meats">Philly Steak<br>
                                            <input  type="radio" value="Bacon" name="meats" id="meats">Bacon<br>
                                            <input  type="radio" value="Premium Chicken" name="meats" id="meats">Premium Chicken<br>                                            
                                        </div>

                                    </div>
                                    <div class="vertical-separator"><br/></div>
                                    <div class="col-md-5">
                                        <h5 class="text-info font-weight-light">CHOOSE NON-MEATS</h5>
                                        <div class="choose-nonmeats mt-5 p-1">
                                            <input  type="radio" value="Black Olives" name="nonmeats" id="nonmeats">Black Olives<br>
                                            <input  type="radio" value="Green Peppers" name="nonmeats" id="nonmeats">Green Peppers<br>
                                            <input  type="radio" value="Spinach" name="nonmeats" id="nonmeats">Spinach<br>
                                            <input  type="radio" value="Mushrooms" name="nonmeats" id="nonmeats">Mushrooms<br>
                                            <input  type="radio" value="Onions" name="nonmeats" id="nonmeats">Onions<br>
                                            <input  type="radio" value="Pineapple" name="nonmeats" id="nonmeats">Pineapple<br>
                                            <input  type="radio" value="Diced Tomato" name="nonmeats" id="nonmeats">Diced Tomato<br>
                                            <input  type="radio" value="Feta Cheese" name="nonmeats" id="nonmeats">Feta Cheese<br>
                                            <input  type="radio" value="Cheddar Cheese" name="nonmeats" id="nonmeats">Cheddar Cheese<br>
                                            <input  type="radio" value="Hot Sauce" name="nonmeats" id="nonmeats">Hot Sauce<br>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
            <div class="row m-2 p-2">
                <div class="col-md-5 col-offset-1">
                    <button class="btn btn-dark btn-lg btn-block" id='submitButton' onclick="b">BUILD</button>
                </div>
                <!-- <div class="col-md-3 bg-light"></div> -->
                <div class="col-md-5 col-offset-1">
                    <button class="btn btn-dark btn-lg btn-block" type='reset'>CANCEL</button>
                </div>
            </div>
        </div>
    </body>
        
</html>