<!DOCTYPE html>
<html>
    <head>
        <!--Required Meta Tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        
        <!--Javascripts: Jquery & BootstrapJS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>GoogleMaps CO</title>
        
        <style>
            html{
                height: 100%;
            }
            body{
                height: 100%;
                background-color: #0086b3
            }

            .vertical-separator{
                width: 1px;
                background-color: hsl(184, 100%, 60%);
                height: inherit;
                margin-left: 0.5px;
                margin-right: 0.5px;
            }

            .text-subtext{
                font-size: 0.8em;
                font-weight: bold;
                color: #555555
            }

            .nav-pills > .nav-link.active {
                background-color: red;
            }
            .nav-pills > a.active:hover{
                background-color: rgb(218, 0, 0);
            }
            .nav-pills > .nav-link {
                color: whitesmoke   
            }

            input {
                margin-right: 6px;
            }
        </style>

        <script>
            function getCheckedBoxes(chkboxName) {
                var checkboxes = document.getElementsByName(chkboxName);
                var checkboxesChecked = [];
                // loop over them all
                for (var i=0; i<checkboxes.length; i++) {
                    // And stick the checked ones onto an array...
                    if (checkboxes[i].checked) {
                        checkboxesChecked.push(checkboxes[i].value);
                    }
                }
                // Return the array if it is non-empty, or null
                return checkboxesChecked.length > 0 ? checkboxesChecked : null;
            }

            function buildPizza(e){
                e.preventDefault();
                var formValues = document.getElementById('build-pizza-form').elements;

                console.log("Crust-Size = " + formValues.namedItem('crust-size').value);
                console.log("Cheese = " + formValues.namedItem('cheese').value);
                console.log("Sauce = " + formValues.namedItem('sauce').value);
                console.log("Meats = " + getCheckedBoxes('meats'));
                console.log("Non-meats = " + getCheckedBoxes('nonmeats'));
                return false;
            }
        </script>
    
    </head>
    
    <body>
        <div><h2 class="text-center text-light font-weight-light mt-2">Build Your Own Pizza<img src="/images/pizza.ico" width="80px" height="80px"></h2></div>
        <div class="container p-2 w-90 h-80 bg-light ">
            <nav class="navbar navbar-light my-2 p-2 rounded d-flex justify-content-center w-100" style="background-color:rgb(124, 159, 223)">
                <div class="nav nav-pills red" id="nav-tab" role="tablist" style="font-weight: 600; color:mintcream">
                    <a class="nav-item nav-link active" id="nav-crust-tab" data-toggle="tab" href="#nav-crust" role="tab" aria-controls="nav-crust" aria-selected="true">SIZE & CRUST</a>
                    <a class="nav-item nav-link" id="nav-sauce-tab" data-toggle="tab" href="#nav-sauce" role="tab" aria-controls="nav-sauce" aria-selected="false">CHEESE & SAUCE</a>
                    <a class="nav-item nav-link" id="nav-topping-tab" data-toggle="tab" href="#nav-topping" role="tab" aria-controls="nav-topping" aria-selected="false">TOPPINGS</a>
                </div>
            </nav>
            <form name="build-pizza" id="build-pizza-form" onsubmit="return buildPizza(event)">
            <div class="tab-content" id="nav-tabContent">
                
                <!--Size & Crust Tab-->
                <div class="tab-pane fade show active" id="nav-crust" role="tabpanel" aria-labelledby="nav-crust-tab">
                    <div class="container">
                        <div class="row">
                            <div class="card card-body border-0"> 
                                <h3 class="font-weight-light text-info">CHOOSE SIZE & CRUST</h3>
                                <div class="row mt-4">

                                    <div class="col-md-3 my-2">
                                        <h5 class="text-info font-weight-light">HAND TOSSED</h5>
                                        <p class="float-left text-subtext">Garlic-seasoned crust with a rich buttery taste.</p><br>
                                        <div class="radio">
                                            <label><input  type="radio" value="handtossed-small" name="crust-size">Small(10")</label>
                                        </div>
                                        <div class="radio selected">
                                            <label><input  type="radio" value="handtossed-medium" name="crust-size" checked>Medium(12")</label>
                                        </div>
                                        <div class="radio">
                                            <label><input  type="radio" value="handtossed-large" name="crust-size">Large(14")</label>
                                        </div>
                                        <div class="radio">
                                            <label><input  type="radio" value="handtossed-xlarge" name="crust-size">X-Large(16")</label>
                                        </div>
                                    </div>
                                    <div class="vertical-separator"><br/></div>

                                    <div class="col-md-3  my-2">
                                        <h5 class="text-info font-weight-light">HANDMADE PAN</h5>
                                        <p class="float-left text-subtext">Two layers of cheese, toppings to the edge and a crust that bakes up golden and crispy with a buttery taste.</p>
                                        <div class="radio">
                                            <label><input  type="radio" value="handmade-medium" name="crust-size">Medium(12")</label>
                                        </div>
                                    </div>

                                    <div class="vertical-separator"><br/></div>

                                    <div class="col-md-3 my-2">
                                        <h5 class="text-info font-weight-light">CRUNCHY THIN CRUST</h5>
                                        <p class="float-left text-subtext">Thin enough for the optimum crispy to crunchy ratio.</p>
                                        <div class="radio">
                                            <label><input  type="radio" value="crusty-medium" name="crust-size">Medium(12")</label>
                                        </div>
                                        <div class="radio">
                                            <label><input  type="radio" value="crusty-large" name="crust-size">Large(14")</label>
                                        </div>
                                    </div>

                                    <div class="vertical-separator"><br/></div>

                                    <br/>
                                    <br/>

                                    <div class="col-md-3 my-2">
                                        <h5 class="text-info font-weight-light">BROOKLYN STYLE</h5>
                                        <p class="float-left text-subtext">Hand stretched to be big, thin, and perfectly foldable.</p>
                                        <div class="radio">
                                            <label><input  type="radio" value="brooklyn-large" name="crust-size">Large(14")</label>
                                        </div>
                                        <div class="radio">
                                            <label><input  type="radio" value="brooklyn-xlarge" name="crust-size">X-Large(16")</label>
                                        </div>
                                    </div>

                                    <div class="vertical-separator"></div>

                                    <div class="col-md-3 my-2">
                                        <h5 class="text-info font-weight-light">GLUTEN FREE CRUST</h5>
                                        <p class="float-left text-subtext">Domino's pizza made with a gluten free crust.</p>
                                        <div class="radio">
                                            <label><input  type="radio" value="glutenfree-small" name="crust-size">Small(10")</label>
                                        </div>
                                    </div>

                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Choose Cheese & Sauce Tab-->
                <div class="tab-pane fade" id="nav-sauce" role="tabpanel" aria-labelledby="nav-sauce-tab">
                        <div class="container">
                            <div class="row">
                                <div class="card card-body border-0"> 
                                    <h3 class="font-weight-light text-info">CHOOSE CHEESE & SAUCE</h3>
                                    <div class="row mt-4">

                                        <div class="col-md-5 my-2">
                                            <h5 class="text-info font-weight-light">CHEESE ?</h5>
                                            <div class="radio">
                                                    <label><input type="radio" value="cheese" name="cheese">No Cheese</label>
                                                </div>
                                            <div class="radio">
                                                <label><input type="radio" value="cheese" name="cheese" checked>Cheese</label>
                                            </div>
                                        </div>

                                        <div class="vertical-separator"><br/></div>

                                        <div class="col-md-5 my-2">
                                            <h5 class="text-info font-weight-light">CHOOSE A SAUCE</h5>
                                            <div class="radio">
                                                <label><input type="radio" value="marinara" name="sauce" checked>Hearty Marinara Sauce</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" value="bbq" name="sauce">BBQ Sauce</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" value="alfredo" name="sauce">Alfredo Sauce</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" value="garlic" name="sauce">Garlic Pamesan White Sauce</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" value="tomato" name="sauce">Robust Inspired Tomato Sauce</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <!--Choose Toppings Tab-->
                <div class="tab-pane fade" id="nav-topping" role="tabpanel" aria-labelledby="nav-topping-tab">
                    <div class="container">
                        <div class="row">
                            <div class="card card-body border-0"> 
                                <h3 class="font-weight-light text-info">CHOOSE TOPPINGS</h3>
                                <div class="row mt-4">
                                    <div class="col-md-5 my-2">
                                        <h5 class="text-info font-weight-light">CHOOSE MEATS ?</h5>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="pepperoni" name="meats">Pepperoni</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="sausage" name="meats">Italian Sausage</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="beef" name="meats">Beef</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="ham" name="meats">Ham</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="steak" name="meats">Philly Steak</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="bacon" name="meats">Bacon</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="chicken" name="meats">Premium Chicken</label>
                                        </div>
                                    </div>

                                    <div class="vertical-separator"><br/></div>

                                    <div class="col-md-5 my-2">
                                        <h5 class="text-info font-weight-light">CHOOSE NON-MEATS</h5>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="black-olives" name="nonmeats">Black Olives</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="green-peppers" name="nonmeats">Green Peppers</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="spinach" name="nonmeats">Spinach</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="mushrooms" name="nonmeats">Mushrooms</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="onions" name="nonmeats">Onions</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="pineapple" name="nonmeats">Pineapple</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="diced-tomato" name="nonmeats">Diced Tomato</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="feta-cheese" name="nonmeats">Feta Cheese</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="cheddar-cheese" name="nonmeats">Cheddar Cheese</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="hot-sauce" name="nonmeats">Hot Sauce</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
            <div class="row m-2 p-2">
                <div class="col-md-5 col-offset-1">
                    <button type="submit" class="btn btn-dark btn-lg btn-block" onclick=buildPizza(event)>BUILD</button>
                </div>
                <!-- <div class="col-md-3 bg-light"></div> -->
                <div class="col-md-5 col-offset-1">
                    <button class="btn btn-dark btn-lg btn-block" type='reset'>CANCEL</button>
                </div>
            </div>
        </form>
        </div>
    </body>
        
</html>